
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand">
        <%= image_tag 'applaud.png' %></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          
        <ul class="nav navbar-nav navbar-right">
          <nav class="Help"> 
          <li><a href="#" role="button" onclick="toggleResults(this);" data-toggle="modal" data-target="#helpModal">Help</a></li>
          </nav>
          <div id ="helpModal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div><%= image_tag 'applaud.png' %></div>
                  
                </div>
                <ul id="helpBody" class="modal-body">
                <ol type="1">
                  <li>Click 'Start Recording' to begin recording your audiences' applause</li>
                  <li>Once the clapping and cheering subsides, press 'Stop Recording' and enter your team name in the 'enter name' field</li>
                  <li>Once each team has completed steps 1-2, click the 'Show Results' button to proclaim the winner!<br></li>
                  <i>**Note: All scores are hidden until you click 'Show Results'</i>
                </ol>
                </ul>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal --> 
        </ul>

          <ul class="nav navbar-nav navbar-right">
            <nav class="About"> 
                <li><a href="#" role="button" onclick="toggleResults(this);" data-toggle="modal" data-target="#aboutModal">About</a></li>
                </nav>
                <div id ="aboutModal" class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div><%= image_tag 'applaud.png' %></div>
                        
                      </div>
                      <ul id="aboutBody" class="modal-body">
                        
                        <li>Findlay Parke
                          <ul style="list-style-type:disc">
                            <li><a href="https://github.com/finvansant">Github Profile</a></li>
                            <li><a href="http://people.flatironschool.com/profiles/findlay-parke">FS Profile</a></li>
                          </ul>
                        </li>

                        <li>Jon Tow
                          <ul style="list-style-type:disc">
                            <li><a href="https://github.com/jonathantow">Github Profile</a></li>
                            <li><a href="http://people.flatironschool.com/students/profiles/jon-tow">FS Profile</a></li>
                        </ul>
                        </li>

                        <li>Lucy Orbach
                          <ul style="list-style-type:disc">
                            <li><a href="https://github.com/lucy-orbach">Github Profile</a></li>
                            <li><a href="http://people.flatironschool.com/profiles/lucy-orbach">FS Profile</a></li>
                          </ul>
                        </li>

                        <li>Tim Murray
                          <ul style="list-style-type:disc">
                            <li><a href="https://github.com/tmurray002">Github Profile</a></li>
                            <li><a href="http://people.flatironschool.com/students/profiles/tim-murray">FS Profile</a></li>
                          </ul>
                        </li> 

                      </ul>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->  
                </ul>



        </ul>
      </div>
    </div>
  </nav>
</header>
  
<main class="main" id="board">
  <section class="jumbotron">
      <div id="viz">
        <canvas id="display" width="1024" height="250"></canvas>
      </div>
      <button id="record" class="btn h2 start" onclick="toggleRecording(this);">Recording<span class="glyphicon glyphicon-record" aria-hidden="true"></span></button>
      <!-- <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> -->
      <!-- <div id="controls">
        <img id="record" src="assets/player_record.png" onclick="toggleRecording(this);">
      </div> -->
  </section>

  <section id="intro">
    <h1>Hit the Button to Start Recording</h1>
    <h1>Click on Show Results when Session is Finished</h1>
  </section>
     

    <section class="rec-container">
      <div id="viz2">
        <div id="parent container">
            <!-- <canvas id="recording" width="1024" height="400" class="rec-display"></canvas> -->
              <ul class="add-recording row">
                
                </ul>
            </div>
          
      </div>
    </section>
</main>

<nav class="results">
  <button type="button" class="btn h1" onclick="toggleResults(this);" data-toggle="modal" data-target="#resultsModal">Show Results<span class="glyphicon glyphicon-stats" aria-hidden="true"></span></button>
</nav>

<div id ="resultsModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div><%= image_tag 'applaud.png' %></div>
        
      </div>
      <ul id="resultBody" class="modal-body">
        
      </ul>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

<div id ="nameModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div><%= image_tag 'applaud.png' %></div>
      </div>
      <div class="modal-body">
      <h3>Recording Title:</h3>
      <form>
        <input type="text" placeholder='Enter Name'>
        <input type="submit" value="Submit" >
      </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

    
      
    



